<style>
    .account-page-title{
        background-color:#f5f5f5;
    }
    
</style>
<div class="account-page-title pt-40 pb-40 d-pt-80 d-pb-80">
    <div class="container tc t-tl">
        <div>
            <div class="h8">{{ 'customer.account.title' | t }},</div>
            <div class="h2">{{ customer.first_name}} {{ customer.last_name}}</div>
            
            {% comment %} <a href="/account/logout" class="btn2 mt-25 d-mt-30">Log Out</a> {% endcomment %}
        </div>
    </div>
</div>