<div class="article-each-research relative b-1 b-border width-100">
    <a href="{{ article.url }}" class="show-m">
        <div class="top-section p-20 d-p-30 width-100">
            <div class="tags-wrapper">
                {% for tag in article.tags %}
                    {%- unless tag contains 'concern:' or tag contains 'product:' or tag contains 'researcher:' -%}
                        <span class="p5 bg-white mr-5 mb-15 font-0 b-1 b-border image-tag show-m-inline-block">
                            {{ tag }}
                        </span>
                    {%- endunless -%}
                {% endfor %}
            </div>
            <p class="p1 max-320">
                {{ article.title }}
            </p>
        </div>
        <div class="author-container pt-15 pb-15 pl-20 pr-20 d-pl-30 d-pr-30 d-pt-20 d-pb-20 bt-1 b-border width-100">
            <div class="global-flex jc-between ai-center">
                {%- if article.metafields.r_lib.author != blank -%}
                {%- else -%}
                    <div class="mr-20">
                        <p class="p3 bold-500">Dr. Mitchel P. Goldman M.D.</p>
                        <p class="p4 c-black opacity-5">Cosmetic Laser Dermatology</p>
                        <p class="p4 c-black opacity-5">San Diego, California, United States</p>
                    </div>

                    <div class="image-wrapper overflow">
                        {%- render 'global-image-wrapper',
                            image: article.metafields.r_lib.image[0],
                            acc: true
                        -%}
                    </div>
                {%- endif -%}
            </div>
        </div>
    </a>
</div>