<style>
    #shopify-section-{{ section.id }} .horizontal-line {
        position: relative;
        width: 100%;
        height: {{ section.settings.height }}px;
        background-color: {{ section.settings.bg_color }};
    }
</style>

<section class="horizontal-line {% if section.settings.show_on == 'mobile_only' %} show-m hide-d {% endif %}"></section>

{% schema %}
    {
      "name": "Horizontal Line",
      "settings": [
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color"
        },
        {
          "type": "number",
          "id": "height",
          "label": "Height",
          "info": "in px"
        },
        {
          "type":"select",
          "id":"show_on",
          "label":"Show on",
          "options":[
              {"value":"all_screen","label":"All Screen"},
              {"value":"mobile_only","label":"Mobile/Tablet Only"}
          ],
          "default": "all_screen"
        }
      ],
      "blocks": [],
      "presets": [
        {
          "name": "Horizontal Line"
        }
      ]
    }
  {% endschema %}